In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data = data.drop(['RowNumber','CustomerId','Surname'], axis=1)

In [5]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()

geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
X=data.drop('EstimatedSalary',axis =1)
y=data['EstimatedSalary']

In [10]:

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
with open ('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open ('onehot_encoder_geo.pkl', 'rb') as file:
    label_encoder_geo = pickle.load(file)

with open ('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

ANN with regression problem statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
model = Sequential([
    Dense(64 , activation='relu', input_shape= (X_train.shape[1],)),
    Dense(32 , activation ='relu'),
    Dense(1) ## output layer for regression
])

model.compile(optimizer ='adam', loss ='mean_absolute_error', metrics = ['mae'])

model.summary()

WARNING:tensorflow:From d:\Data science\ANNclassification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\Data science\ANNclassification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
import datetime

from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

## setup the tensorboard
log_dir = "regression/logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [18]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [20]:
history = model.fit(
    X_train, y_train,
    validation_data = (X_test,y_test),
    epochs =100,
    callbacks = [early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\Data science\ANNclassification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Data science\ANNclassification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 7ms/step - loss: 100404.6016 - mae: 100404.6016 - val_loss: 98622.1562 - val_mae: 98622.1562
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 100012.9453 - mae: 100012.9453 - val_loss: 97803.0938 - val_mae: 97803.0938
Epoch 3/100
250/250 [==============================] - 2s 6ms/step - loss: 98527.8125 - mae: 98527.8125 - val_loss: 95570.4922 - val_mae: 95570.4922
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 95441.9297 - mae: 95441.9297 - val_loss: 91627.0156 - val_mae: 91627.0156
Epoch 5/100
250/250 [==============================] - 1s 6ms/step - loss: 90639.6562 - mae: 90639.6562 - val_loss: 86058.8438 - val_mae: 86058.8438
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 84366.0078 - mae: 84366.0078 - val_loss: 79356.6875 - val_mae: 79356.6875
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 77237.7656 - mae: 77237.7656 - val_loss: 72272.2500 - val_mae: 72272.2500
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 70016.2188 - mae: 70016.2188 - val_loss: 65633.5391 - val_mae: 65633.5391
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 63503.3164 - mae: 63503.3164 - val_loss: 60014.3945 - val_mae: 60014.3945
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 58318.9141 - mae: 58318.9141 - val_loss: 55851.1055 - val_mae: 55851.1055
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 54697.2305 - mae: 54697.2305 - val_loss: 53227.1602 - val_mae: 53227.1602
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 52473.2383 - mae: 52473.2383 - val_loss: 51851.8711 - val_mae: 51851.8711
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 51313.7188 - mae: 51313.7188 - val_loss: 51288.1250 - val_mae: 51288.1250
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50781.1758 - mae: 50781.1758 - val_loss: 51053.9062 - val_mae: 51053.9062
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50523.2383 - mae: 50523.2383 - val_loss: 50938.7773 - val_mae: 50938.7773
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50395.9258 - mae: 50395.9258 - val_loss: 50885.5664 - val_mae: 50885.5664
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50315.6094 - mae: 50315.6094 - val_loss: 50836.3125 - val_mae: 50836.3125
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50256.2969 - mae: 50256.2969 - val_loss: 50796.9023 - val_mae: 50796.9023
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 50202.7852 - mae: 50202.7852 - val_loss: 50755.6133 - val_mae: 50755.6133
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50154.9375 - mae: 50154.9375 - val_loss: 50715.7422 - val_mae: 50715.7422
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 50111.7070 - mae: 50111.7070 - val_loss: 50682.1484 - val_mae: 50682.1484
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 50077.5586 - mae: 50077.5586 - val_loss: 50650.1641 - val_mae: 50650.1641
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 50042.9219 - mae: 50042.9219 - val_loss: 50624.5938 - val_mae: 50624.5938
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 50008.3164 - mae: 50008.3164 - val_loss: 50599.5547 - val_mae: 50599.5547
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49980.3242 - mae: 49980.3242 - val_loss: 50577.9414 - val_mae: 50577.9414
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49950.7656 - mae: 49950.7656 - val_loss: 50557.5352 - val_mae: 50557.5352
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49921.8359 - mae: 49921.8359 - val_loss: 50530.8164 - val_mae: 50530.8164
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49902.5117 - mae: 49902.5117 - val_loss: 50507.9297 - val_mae: 50507.9297
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49877.3203 - mae: 49877.3203 - val_loss: 50488.4336 - val_mae: 50488.4336
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49854.0156 - mae: 49854.0156 - val_loss: 50477.8281 - val_mae: 50477.8281
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49839.4453 - mae: 49839.4453 - val_loss: 50460.0977 - val_mae: 50460.0977
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49820.0078 - mae: 49820.0078 - val_loss: 50443.3320 - val_mae: 50443.3320
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49800.4648 - mae: 49800.4648 - val_loss: 50433.2109 - val_mae: 50433.2109
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49783.9883 - mae: 49783.9883 - val_loss: 50412.9844 - val_mae: 50412.9844
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49772.4844 - mae: 49772.4844 - val_loss: 50401.1875 - val_mae: 50401.1875
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49756.1172 - mae: 49756.1172 - val_loss: 50388.5078 - val_mae: 50388.5078
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49746.0938 - mae: 49746.0938 - val_loss: 50383.5117 - val_mae: 50383.5117
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49729.4102 - mae: 49729.4102 - val_loss: 50375.1016 - val_mae: 50375.1016
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49720.2031 - mae: 49720.2031 - val_loss: 50355.4102 - val_mae: 50355.4102
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49704.7852 - mae: 49704.7852 - val_loss: 50355.9688 - val_mae: 50355.9688
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49694.6719 - mae: 49694.6719 - val_loss: 50356.4297 - val_mae: 50356.4297
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49681.0898 - mae: 49681.0898 - val_loss: 50329.4531 - val_mae: 50329.4531
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49672.4336 - mae: 49672.4336 - val_loss: 50327.8555 - val_mae: 50327.8555
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49659.5273 - mae: 49659.5273 - val_loss: 50323.3672 - val_mae: 50323.3672
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49646.3047 - mae: 49646.3047 - val_loss: 50321.5234 - val_mae: 50321.5234
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49637.2812 - mae: 49637.2812 - val_loss: 50311.5742 - val_mae: 50311.5742
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49630.0273 - mae: 49630.0273 - val_loss: 50309.4141 - val_mae: 50309.4141
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49620.1641 - mae: 49620.1641 - val_loss: 50304.0312 - val_mae: 50304.0312
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49612.0859 - mae: 49612.0859 - val_loss: 50300.7227 - val_mae: 50300.7227
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49604.4609 - mae: 49604.4609 - val_loss: 50303.6055 - val_mae: 50303.6055
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49597.3789 - mae: 49597.3789 - val_loss: 50307.2930 - val_mae: 50307.2930
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49590.9883 - mae: 49590.9883 - val_loss: 50300.6484 - val_mae: 50300.6484
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49579.4453 - mae: 49579.4453 - val_loss: 50296.7539 - val_mae: 50296.7539
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49573.8008 - mae: 49573.8008 - val_loss: 50300.6641 - val_mae: 50300.6641
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49566.2695 - mae: 49566.2695 - val_loss: 50299.7734 - val_mae: 50299.7734
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49558.0625 - mae: 49558.0625 - val_loss: 50288.4219 - val_mae: 50288.4219
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49553.0430 - mae: 49553.0430 - val_loss: 50288.4336 - val_mae: 50288.4336
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49545.2891 - mae: 49545.2891 - val_loss: 50281.9766 - val_mae: 50281.9766
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49541.1719 - mae: 49541.1719 - val_loss: 50282.3281 - val_mae: 50282.3281
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49535.7969 - mae: 49535.7969 - val_loss: 50281.0625 - val_mae: 50281.0625
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49526.7266 - mae: 49526.7266 - val_loss: 50279.4648 - val_mae: 50279.4648
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49523.6133 - mae: 49523.6133 - val_loss: 50273.2539 - val_mae: 50273.2539
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49520.8047 - mae: 49520.8047 - val_loss: 50273.2266 - val_mae: 50273.2266
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49513.6641 - mae: 49513.6641 - val_loss: 50272.4453 - val_mae: 50272.4453
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49509.2344 - mae: 49509.2344 - val_loss: 50273.5781 - val_mae: 50273.5781
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 49500.9609 - mae: 49500.9609 - val_loss: 50274.3203 - val_mae: 50274.3203
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49497.9375 - mae: 49497.9375 - val_loss: 50283.0039 - val_mae: 50283.0039
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 49493.5586 - mae: 49493.5586 - val_loss: 50276.0938 - val_mae: 50276.0938
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 49487.9102 - mae: 49487.9102 - val_loss: 50275.3008 - val_mae: 50275.3008
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 49485.2812 - mae: 49485.2812 - val_loss: 50273.3438 - val_mae: 50273.3438
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 49480.6992 - mae: 49480.6992 - val_loss: 50275.8008 - val_mae: 50275.8008
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 49474.6445 - mae: 49474.6445 - val_loss: 50274.5938 - val_mae: 50274.5938
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 49471.5195 - mae: 49471.5195 - val_loss: 50270.9102 - val_mae: 50270.9102
Epoch 74/100
250/250 [==============================] - 1s 6ms/step - loss: 49467.7812 - mae: 49467.7812 - val_loss: 50274.9219 - val_mae: 50274.9219
Epoch 75/100
250/250 [==============================] - 1s 4ms/step - loss: 49461.6250 - mae: 49461.6250 - val_loss: 50263.7070 - val_mae: 50263.7070
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 49463.1758 - mae: 49463.1758 - val_loss: 50263.5273 - val_mae: 50263.5273
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 49456.8477 - mae: 49456.8477 - val_loss: 50260.6562 - val_mae: 50260.6562
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 49455.3203 - mae: 49455.3203 - val_loss: 50257.2305 - val_mae: 50257.2305
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 49449.8906 - mae: 49449.8906 - val_loss: 50264.0195 - val_mae: 50264.0195
Epoch 80/100
250/250 [==============================] - 1s 3ms/step - loss: 49445.4375 - mae: 49445.4375 - val_loss: 50269.6094 - val_mae: 50269.6094
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 49439.8750 - mae: 49439.8750 - val_loss: 50266.6953 - val_mae: 50266.6953
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 49438.4922 - mae: 49438.4922 - val_loss: 50258.3555 - val_mae: 50258.3555
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 49437.5312 - mae: 49437.5312 - val_loss: 50263.3281 - val_mae: 50263.3281
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 49431.2344 - mae: 49431.2344 - val_loss: 50255.0430 - val_mae: 50255.0430
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 49427.3984 - mae: 49427.3984 - val_loss: 50259.2461 - val_mae: 50259.2461
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 49425.0039 - mae: 49425.0039 - val_loss: 50259.5117 - val_mae: 50259.5117
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 49425.3945 - mae: 49425.3945 - val_loss: 50250.8164 - val_mae: 50250.8164
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 49417.6406 - mae: 49417.6406 - val_loss: 50260.3086 - val_mae: 50260.3086
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 49415.8945 - mae: 49415.8945 - val_loss: 50258.0547 - val_mae: 50258.0547
Epoch 90/100
250/250 [==============================] - 1s 3ms/step - loss: 49412.3477 - mae: 49412.3477 - val_loss: 50259.0938 - val_mae: 50259.0938
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 49411.2188 - mae: 49411.2188 - val_loss: 50266.2109 - val_mae: 50266.2109
Epoch 92/100
250/250 [==============================] - 1s 3ms/step - loss: 49405.6250 - mae: 49405.6250 - val_loss: 50257.7383 - val_mae: 50257.7383
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 49405.2891 - mae: 49405.2891 - val_loss: 50271.3008 - val_mae: 50271.3008
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 49402.8984 - mae: 49402.8984 - val_loss: 50265.4688 - val_mae: 50265.4688
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 49401.6797 - mae: 49401.6797 - val_loss: 50265.9375 - val_mae: 50265.9375
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 49399.0977 - mae: 49399.0977 - val_loss: 50269.6992 - val_mae: 50269.6992
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 49396.9961 - mae: 49396.9961 - val_loss: 50265.3164 - val_mae: 50265.3164

In [21]:
%load_ext tensorboard

In [27]:
%tensorboard --logdir regression/logs/fit

Reusing TensorBoard on port 6008 (pid 4656), started 0:00:05 ago. (Use '!kill 4656' to kill it.)

In [28]:
## Evaluate model on test data

test_loss, test_mae = model.evaluate(X_test,y_test)
print(f'Test MAE :{test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50250.8164 - mae: 50250.8164
Test MAE :50250.81640625

In [29]:
model.save('regression_model.h5')

d:\Data science\ANNclassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(